body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.top-heading {
    margin: 0px 150px;
}

.top-heading h1 {
    text-align: center;
}

.dates {
    margin: 0px 100px;

}

.content {
    margin: 0px 250px;

}

.content p {
    text-align: justify;
    text-justify: inter-word;
}
