<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    
    <title>Article Management System</title>
</head>
<body>
    <div class="top-heading">
        <h1>Articles</h1>
    </div>
    <div class="index-placeholder" id="empty-msg">
        <h1>No Articles, create a new one.</h1>
    </div>

    <div class="articles" id="articles-div"></div>

    <script src="../src/make-request.js"></script>
    <script src="../src/utils.js"></script>
    <script>
        const host = window.location.href;
        const articlesDiv = document.getElementById('articles-div');
        const emptyMsg = document.getElementById('empty-msg');

        // makeRequest('GET', `${host}api/articles`)
        makeRequest('GET', `http://localhost:8080/api/articles`)
            .then((data) => {
                const articleResponse = data.data;
                
                if (articleResponse.length > 0) {

                    articleResponse.forEach((article) => {

                        const urlPath = titleToValidURL(article.title);
                        const uid = article.u_id;

                        const articleDiv = document.createElement('div');
                        articleDiv.classList.add('article');
                        
                        // Title
                        const titleDiv = document.createElement('div');
                        titleDiv.classList.add('title');
                        const titleLink = document.createElement('a');
                        titleLink.href = '/post/' + urlPath;
                        const titleH2 = document.createElement('h2');
                        titleH2.textContent = article.title;

                        titleLink.appendChild(titleH2);
                        titleDiv.appendChild(titleLink);

                        // Bottom Stuff
                        const bottomDiv = document.createElement('div');
                        bottomDiv.classList.add('bottom');

                        // Date Created
                        const dateDiv = document.createElement('div');
                        dateDiv.classList.add('date');
                        const dateH4 = document.createElement('h4');
                        const date = new Date(article.date_created).toLocaleString(
                            'en', {
                                year: 'numeric',
                                month: 'long',
                                day: 'numeric'
                            });
                        dateH4.textContent = date
    
                        dateDiv.appendChild(dateH4);
                        bottomDiv.appendChild(dateDiv);

                        // Options
                        const optionsDiv = document.createElement('div');
                        optionsDiv.classList.add('options');

                        
                        // Edit Button
                        const editContainerDiv = document.createElement('div');
                        editContainerDiv.classList.add('edit-container');
                        
                        const editLink = document.createElement('a');
                        editLink.classList.add('btn', 'edit');
                        editLink.href = '/edit/' + uid;

                        const editIcon = document.createElement('i');
                        editIcon.classList.add('bi', 'bi-pencil');

                        editLink.appendChild(editIcon);
                        editContainerDiv.appendChild(editLink);
                        
                        // Delete Button
                        const deleteContainerDiv = document.createElement('div');
                        deleteContainerDiv.classList.add('delete-container');

                        const deleteLink = document.createElement('a');
                        deleteLink.classList.add('btn', 'delete');
                        deleteLink.href = '/delete/' + urlPath;

                        const deleteIcon = document.createElement('i');
                        deleteIcon.classList.add('bi', 'bi-trash-fill');

                        deleteLink.appendChild(deleteIcon);
                        deleteContainerDiv.appendChild(deleteLink);
                        

                        optionsDiv.appendChild(editContainerDiv);
                        optionsDiv.appendChild(deleteContainerDiv);

                        bottomDiv.appendChild(optionsDiv);

                        articleDiv.appendChild(titleDiv);
                        articleDiv.appendChild(bottomDiv);


                        articlesDiv.appendChild(articleDiv);

                        // Event Listener
                        deleteLink.addEventListener('click', (event) => {
                            event.preventDefault();

                            const confirmed = confirm('Are you sure you want to delete this article?');

                            if (confirmed) {
                                window.location.href = deleteLink.href;
                            }
                        })
                    });
                    emptyMsg.hidden = true;
                }

            })
            .catch((error) => {
                console.error(error.message);
            })

    </script>
</body>
</html>