<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Article Management System</title>
</head>
<body>
    <div class="top-heading">
        <h1>Articles</h1>
    </div>
    <div class="index-placeholder" id="empty-msg">
        <h1>No Articles, create a new one.</h1>
    </div>
    <div class="articles" id="articles-div">
        <!-- <div class="article one">
            <a href=""><h2>Article One</h2></a>
            <div class="sub-heading">
                <h4>Date Created: 2023-05-03</h4>
                <h4>Date Updated: 2023-05-04</h4>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate rem nisi deleniti architecto...</p>
            </div>
            <div class="options">
                <a href="">Edit</a>
                <a href="">Delete</a>
            </div>
        </div> -->
    </div>
    <script src="../src/make-request.js"></script>
    <script src="../src/utils.js"></script>
    <script>
        const articlesDiv = document.getElementById('articles-div');
        const emptyMsg = document.getElementById('empty-msg');
        makeRequest('GET', 'http://localhost:8080/api/articles')
            .then((data) => {
                const articleResponse = data.data;
                
                if (articleResponse.length > 0) {

                    articleResponse.forEach((article) => {

                        const articleDiv = document.createElement('div');
                        articleDiv.className = 'article';
                        
                        // Title
                        const title = document.createElement('a');
                        const h2 = document.createElement('h2');
                        h2.textContent = article.title;
                        title.href = '/' + titleToValidURL(article.title);
                        title.appendChild(h2);
    
                        // Date Created and Updated
                        const dateDiv = document.createElement('div');
                        dateDiv.className = 'sub-heading';
                        const dateCreated = document.createElement('h4');
                        const dateUpdated = document.createElement('h4');
                        dateCreated.textContent = article.date_created;
                        dateUpdated.textContent = article.date_updated;
    
                        dateDiv.appendChild(dateCreated);
                        dateDiv.appendChild(dateUpdated);
    
                        // Content
                        const contentDiv = document.createElement('div');
                        contentDiv.className = 'content';
                        const contentText = document.createElement('p');
                        contentText.textContent = article.content.substring(0, 50) + '...';
                        contentDiv.appendChild(contentText);
    
                        // Appending All divs to parent div
                        articleDiv.appendChild(title);
                        articleDiv.appendChild(dateDiv);
                        articleDiv.appendChild(contentDiv);
    
                        articlesDiv.appendChild(articleDiv);
                        
                    });
                    emptyMsg.hidden = true;
                }

            })

    </script>
</body>
</html>