<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/style.css">
    <title>Article Management System</title>
</head>
<body>
    <div class="top-heading">
        <h1>Articles</h1>
    </div>
    <div class="index-placeholder">
        <h1>No Articles, create a new one.</h1>
    </div>
    <div class="articles">
        <!-- <div class="article one">
            <a href=""><h2>Article One</h2></a>
            <div class="sub-heading">
                <h4>Date Created: 2023-05-03</h4>
                <h4>Date Updated: 2023-05-04</h4>
            </div>
            <div class="content">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate rem nisi deleniti architecto...</p>
            </div>
            <div class="options">
                <a href="">Edit</a>
                <a href="">Delete</a>
            </div>
        </div> -->
    </div>
</body>
</html>