@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

@media screen and (max-width: 45%) {
    #articles-div {
        width: 100%;
    }
}

body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
}

.top-heading {
    top: 0;
    width: 100%;
    z-index: 999;
    background: white;
    border-style: solid;
    border-color: gray;
    margin: 10px 0px;
}

.top-heading h1 {
    text-align: center;
    padding: 10px;
}

#articles-div {
    width: 45%;
}

.article {
    font-family: inter;
    margin-bottom: 10px;
    background-color: #E9E9E9;
    border-radius: 27px;
    width: 100%;
    height: fit-content;
    padding-top: 5px;
    padding-left: 20px;
    padding-right: 20px;
}

.article a {
    text-decoration: none;
    color: black;
}

.bottom {
    display: flex;

}

.date {
    font-size: 20px;
    width: 70%;
    height: 100%;
}

.options {
    display: flex;
    width: 30%;
    justify-content: end;
    align-items: center;
    margin-left: 5px;
    gap: 10px;
}

.btn {
    text-align: center;
    display: inline-block;
    border-radius: 7px;
    width: 50px;
    height: 50px;
}

.edit {
    background-color: #0D5DD4;
}

.delete {
    background-color: #DD0202;
}

.btn i {
    font-size: 40px;
    color: white;
    text-align: center;
}

.index-placeholder{
    text-align: center;
}